---
layout: default
title: Deividy's coding blog
---


<div class="hfeed">
    {% for post in paginator.posts %}
        <article class="hentry entry">
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            {% if post.content.size > 2000 %}
                {{ post.content | truncatewords: 300 }} 
                <a href="{{ post.url }}">read more</a>
            {% else %}
                {{ post.content }}
            {% endif %}
        </article>
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
        <p class="previous">
        {% if paginator.previous_page == 1 %}
            <a href="/">Anterior</a>
        {% else %}
            <a href="{{ paginator.previous_page_path }}">Anterior</a>
        {% endif %}
        </p>
    {% endif %}    {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next">Próximo</a>
    {% endif %}
</div>
